1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+
6

In [ ]:
* :expression
'hello':value
-87.8:value
- :expression
/ :expression
+ :expression
6 :value

2. What is the difference between string and variable?

In [ ]:
Strings in Python are identified as a contiguous set of characters represented in the
quotation marks. Python allows for either pairs of single or double quotes.
'Hello' is the same as "Hello".

Whereas, variables are nothing but reserved memory locations to store values. This means that when
you create a variable you reserve some space in memory.

In [ ]:
3. Describe three different data types.

In [ ]:
The three different data types are List, Integer and Float

List is a collection which is ordered and changeable and allows duplicate members.For using a list, we must declare it first by using square brackets and separate
values with commas.Eg [1, 2, 3, 'A', 'B', 7, 8, [10, 11]]

Integer or Int, is a whole number, positive or negative, without decimals, of unlimited
length. Eg 357489

Float, or "floating point number" is a number, positive or negative, containing decimals. Eg: 5666.0005

4. What is an expression made up of? What do all expressions do?

In [ ]:
An expression is a combination of values, variables, and operators. eg: X=Y-3
 Expressions are used to evaluate the values which will represent the results on the screen.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
An expression is a combination of values, variables, and operators.
While a statement is an instruction that the Python interpreter can execute.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [2]:
bacon=22

In [3]:
bacon+1

23

In [ ]:
The variable bacon contain 23 as a result

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [4]:
'spam' + 'spamspam'

'spamspamspam'

In [5]:
'spam' * 3

'spamspamspam'

In [ ]:
the values of the two terms are same which is 'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
 Variable names cannot begin with a number that is why 100 is invalid in this case.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
Int(), Float(), Str()

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [ ]:
This expression causing an error since 'I have eaten ' and ' burritos.' both are sting which is written inside the single quotes .To fix it we can rewite the statement as
'I have eaten 99 burritos' , 99 need to be inside the single quote.